<div class="center jumbotron">
  <h1>Welcome to Matt's Sample App</h1>

  <h2>
    If you're reading this, welcome! This is my attempt to make a website using
    the Ruby on Rails framework. This is a work in progress, updated as I continue
    learning more about Ruby and Rails. 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>